.module-translate-wrapper {
  .url-row-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 10px;
    .input-col {
      flex: 1;
    }
    button {
      cursor: pointer;
    }
  }
  .language-selector-row {
    display: flex;
    flex-wrap: nowrap;
    .language-selector {
      flex: 1 0 50%;
      width: calc(50% - 10px);
      padding: 0 5px;
      &:not(:first-child) {
        padding-right: 0;
        padding-left: 5px;
        width: calc(50% - 5px);
      }
      flex: 1;
      &:not(:last-child) {
        padding-right: 5px;
        padding-left: 0;
        width: calc(50% - 5px);
      }
    }
  }
}
