.module-translate-wrapper {
  .url-row-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    .input-col {
      flex: 1;
    }
    button {
      cursor: pointer;
    }
  }
  .language-selector-row {
    display: flex;
    flex-wrap: nowrap;
    .language-selector {
      flex: 1 0 50%;
      width: calc(50% - 10px);
      padding: 0 5px;
      &:not(:first-child) {
        padding-right: 0;
        padding-left: 5px;
        width: calc(50% - 5px);
        border-left: 1px solid white;
      }
      &:not(:last-child) {
        padding-right: 5px;
        padding-left: 0;
        width: calc(50% - 5px);
      }
    }
  }
  .messages-container {
    border-top: 1px solid white;
    padding: 5px 0;
    .message-row {
      padding: 5px 0;
      .source-message {
        font-size: 12px;
        user-select: text;
      }
      .translated-message {
        font-size: 14px;
        user-select: text;
      }
    }
  }
}
