.row-select-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .button {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
  }
  .text {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
    user-select: text !important;
    & + .button {
      text-align: right;
    }
  }
}
