.input-wrapper {
  width: 100%;
  min-height: 20px;
  color: white;
  display: block;
  background: transparent;
  border: 1px solid white;
  resize: vertical;
  padding: 0 5px;
  &::placeholder {
    color: white;
  }
}
